absl-py==1.0.0
argcomplete==2.0.0
astunparse==1.6.3
brotlipy==0.7.0
cachetools==4.2.4
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cryptography==37.0.1
cython==0.29.30
docker-pycreds==0.4.0
flatbuffers==2.0
gast==0.4.0
gitdb==4.0.9
gitpython==3.1.27
google-auth-oauthlib==0.4.6
google-auth==2.3.3
google-pasta==0.2.0
grpcio==1.42.0
gym==0.21.0
idna==3.3
importlib-metadata==4.8.1
keras-preprocessing==1.1.2
keras==2.7.0
libclang==12.0.0
markdown==3.3.6
numpy==1.21.6
oauthlib==3.1.1
opt-einsum==3.3.0
ortools==9.3.10497
packaging==21.3
pathtools==0.1.2
pip==22.1.2
pipx==1.0.0
promise==2.3
protobuf==4.21.0
psutil==5.9.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pyopenssl==22.0.0
pysocks==1.7.1
python-dateutil==2.8.2
pyyaml==6.0
requests-oauthlib==1.3.0
requests==2.27.1
rsa==4.7.2
sentry-sdk==1.5.12
setproctitle==1.2.3
setuptools==62.3.2
shortuuid==1.0.8
six==1.16.0
smmap==3.0.5
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
torch==1.11.0
typing-extensions==3.10.0.2
urllib3==1.26.9
userpath==1.8.0
wandb==0.12.17
wheel==0.37.1
zipp==3.8.0